<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Music App</title>
</head>
<body>
    <h1>Welcome to the Simple Music App</h1>
    <audio id="myAudio" controls>
        <source id="audioSource" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

    <h2>Music Files</h2>
    <ul>
        {% for file in music_files %}
            <li onclick="playMusic('{{ url_for('static', filename='music/' + file) }}')">{{ file }}</li>
        {% endfor %}
    </ul>

    <script>
        function playMusic(source) {
            var audio = document.getElementById('myAudio');
            var audioSource = document.getElementById('audioSource');
            audioSource.src = source;
            audio.load();
            audio.play();
        }
    </script>
</body>
</html>
